:root {
  /* COLORS */
  --col-yellow: hsl(47, 88%, 63%);
  --col-white: hsl(0, 0%, 100%);
  --col-gray-500: hsl(0, 0%, 42%);
  --col-gray-950: hsl(0, 0%, 7%);

  /* TYPOGRAPHY */
  --spacing-md: 1.5rem;
  --spacing-sm: 1.2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  background-color: var(--col-yellow);
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: var(--spacing-md);
  max-width: 320px;
  margin-inline: auto;
  background-color: var(--col-white);
  border-radius: 0.85rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  border: 1px solid var(--col-gray-950);
}
h1 {
  font-weight: 900;
  font-size: 1.4rem;
}
.tag,
h1,
.meta,
.author-name {
  color: var(--col-gray-950);
}
.excerpt {
  color: var(--col-gray-500);
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
