:root {
  /* COLORS */
  --col-yellow: hsl(47, 88%, 63%);
  --col-white: hsl(0, 0%, 100%);
  --col-gray-500: hsl(0, 0%, 42%);
  --col-gray-950: hsl(0, 0%, 7%);

  /* TYPOGRAPHY */
  --text1-size: 1.5rem;
  --text1-weight: 950;
  --text2-size: 1rem;
  --text3-size: 0.857rem;
  --text3-weight: 950;

  /* SPACING */
  --space-300: 1.5rem;
  --space-150: 0.75rem;
  --space-100: 0.5rem;
  --space-50: 0.25rem;
  --spacing-sm: 1.2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  background-color: var(--col-yellow);
  line-height: 150%;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: var(--space-300);
  max-width: 384px;
  margin-inline: auto;
  background-color: var(--col-white);
  border-radius: 0.85rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  border: 1px solid var(--col-gray-950);
}
h1 {
  font-weight: 900;
  font-size: 1.4rem;
}
.tags {
  background-color: var(--col-yellow);
  display: inline-block;
  width: max-content;
  padding-inline: var(--space-150);
  padding-block: var(--space-50);
  border-radius: var(--space-50);
}
.tag,
.author-meta {
  font-size: var(--text3-size);
  font-weight: 800;
}
.meta {
  font-size: var(--text3-size);
}
.excerpt {
  font-size: var(--text2-size);
}
.tag,
h1,
.meta,
.author-name {
  color: var(--col-gray-950);
}
.excerpt {
  color: var(--col-gray-500);
}
img.author-avatar {
  width: 2rem;
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
